.carousel-fade .carousel-inner .carousel-item {
    -webkit-transition-property: opacity;
    transition-property: opacity;
  }
  
  .carousel-fade .carousel-inner .active.carousel-item-left,
  .carousel-fade .carousel-inner .active.carousel-item-right,
  .carousel-fade .carousel-inner .carousel-item {
    opacity: 0;
  }
  
  .carousel-fade .carousel-inner .active,
  .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
  .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
  }
  
  .carousel-fade .carousel-inner .active.carousel-item-left,
  .carousel-fade .carousel-inner .active.carousel-item-right,
  .carousel-fade .carousel-inner .carousel-item-next,
  .carousel-fade .carousel-inner .carousel-item-prev {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  .carousel-item{
      display: flex !important
  }
  