<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">Appartements</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper iaculis dictum. Vestibulum vitae
      magna arcu. Donec consectetur felis et tincidunt porttitor. Vestibulum ante ipsum primis in faucibus orci luctus
      et
      ultrices posuere cubilia Curae; Nulla eu aliquet neque. Donec ligula diam, gravida ut facilisis et, viverra at
      odio.
      Suspendisse potenti.
    </p>
  </div>
</div>
<div class="container p-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Chambres</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper iaculis dictum. Vestibulum
        vitae
        magna arcu. Donec consectetur felis et tincidunt porttitor. Vestibulum ante ipsum primis in faucibus orci
        luctus
        et
        ultrices posuere cubilia Curae; Nulla eu aliquet neque. Donec ligula diam, gravida ut facilisis et, viverra at
        odio.
        Suspendisse potenti.
      </p>
    </div>
    <div class="col-md-4">
      <ngb-carousel class="carousel-fade" *ngIf="images_chambres" [showNavigationIndicators]="false" [interval]=3000>
        <ng-template ngbSlide *ngFor="let image of images_chambres">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="w-100">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>

<div class="container p-3">
  <div class="row">
    <div class="col-md-4">
      <ngb-carousel class="carousel-fade" *ngIf="images_salon" [showNavigationIndicators]="false" [interval]=3000>
        <ng-template ngbSlide *ngFor="let image of images_salon">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="w-100">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-md-8">
      <h2>Cusine/salon</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper iaculis dictum. Vestibulum
        vitae
        magna arcu. Donec consectetur felis et tincidunt porttitor. Vestibulum ante ipsum primis in faucibus orci
        luctus
        et
        ultrices posuere cubilia Curae; Nulla eu aliquet neque. Donec ligula diam, gravida ut facilisis et, viverra at
        odio.
        Suspendisse potenti.
      </p>
    </div>
  </div>
</div>

<div class="container p-3">
  <div class="row">
    <div class="col-md-8">
      <h2>Salles de bain</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ullamcorper iaculis dictum. Vestibulum
        vitae
        magna arcu. Donec consectetur felis et tincidunt porttitor. Vestibulum ante ipsum primis in faucibus orci
        luctus
        et
        ultrices posuere cubilia Curae; Nulla eu aliquet neque. Donec ligula diam, gravida ut facilisis et, viverra at
        odio.
        Suspendisse potenti.
      </p>
    </div>
    <div class="col-md-4">
      <ngb-carousel class="carousel-fade" *ngIf="images_bains" [showNavigationIndicators]="false" [interval]=3000>
        <ng-template ngbSlide *ngFor="let image of images_bains">
          <div class="picsum-img-wrapper">
            <img [src]="image" alt="Random slide" class="w-100">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
