<ul class="nav p-3" id="nav">
  <li class="nav-item">
      <a class="nav-link active" routerLink="/home" routerLinkActive="active">Accueil</a>
  </li>
  <li class="nav-item">
      <a class="nav-link" routerLink="/appartements" routerLinkActive="active">Appartements</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/salle" routerLinkActive="active">Sale</a>
</li>
<li class="nav-item">
  <a class="nav-link" routerLink="/contact" routerLinkActive="active">Contact</a>
</li>
</ul>
<router-outlet></router-outlet>
<footer class="py-4 bg-dark text-white-50 text-center" id="sticky-footer">
  Copyright © Maison pour vieux
</footer>