<ngb-carousel class="carousel-fade" *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" class="w-100">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide" class="w-100">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide" class="w-100">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel>
<div class="container p-3">
  <h2>Titre</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac tincidunt risus, quis pharetra nibh. Suspendisse
    eu odio eget nunc hendrerit venenatis vitae ac velit. Suspendisse tellus magna, dignissim aliquet mattis eu, tempus
    et nunc. Morbi convallis posuere enim in dictum. Phasellus eget neque et enim mattis aliquet. Proin aliquam posuere
    risus sit amet porta. Duis auctor consequat euismod. Mauris sagittis purus ornare, tempor neque vel, fringilla orci.
    Nunc vitae nibh erat. Pellentesque vitae massa euismod, maximus mi non, commodo magna. Vestibulum pharetra dolor in
    tellus varius, sed ultrices lorem vehicula. Fusce pellentesque sem sed nibh posuere, iaculis tristique risus auctor.
    Etiam vitae efficitur est, at iaculis tortor. Curabitur a odio sapien.
    <br><br>
    Proin molestie mi quam, quis gravida ipsum tempus malesuada. Suspendisse potenti. Duis sit amet nulla sit amet dui
    aliquet aliquet in et risus. Morbi volutpat mi in neque accumsan viverra. Sed commodo massa sit amet tristique
    hendrerit. Fusce maximus posuere dui ac luctus. Nam interdum imperdiet lorem, vel tristique ipsum porta vel. Aenean
    iaculis, purus a convallis pharetra, nisl diam volutpat purus, sit amet bibendum felis sapien non mi. Etiam
    sollicitudin ultrices neque at sollicitudin. Proin eget ante erat. Quisque rhoncus tempor turpis, quis sodales enim
    mollis eu.
    <br><br>
    Nunc in dui gravida, rutrum diam at, consectetur magna. Duis a imperdiet dui. Maecenas sollicitudin hendrerit urna,
    eu facilisis nunc interdum vulputate. Aenean pellentesque mi sit amet neque sagittis interdum. Quisque sodales
    tempus mauris sit amet condimentum. Curabitur ipsum tortor, tempor eget lacus et, dapibus viverra dui. Cras blandit,
    tortor sagittis dapibus vulputate, ante ex lacinia erat, vel viverra lacus risus non velit. Mauris porta tincidunt
    aliquet.
    <br><br>
    Cras bibendum ac odio et mattis. Proin pellentesque mauris arcu, ut feugiat diam tempor sed. Nulla ut ex imperdiet,
    semper metus non, pharetra mauris. Etiam et convallis leo, eget imperdiet mauris. Class aptent taciti sociosqu ad
    litora torquent per conubia nostra, per inceptos himenaeos. Nullam blandit, leo sed suscipit elementum, velit sem
    blandit dolor, a lobortis enim metus ut arcu. Nam et nunc tortor. Aliquam finibus metus leo, a sodales felis maximus
    quis. Pellentesque vulputate metus elit, ut fringilla urna elementum ac. Duis rhoncus malesuada consectetur. Ut et
    molestie ipsum, tincidunt imperdiet felis. In dignissim ipsum ac massa facilisis imperdiet. In non molestie nibh.
    Maecenas tempor vel sem in rhoncus.
    <br><br>
    Sed euismod, mi ac venenatis pretium, nulla dui gravida libero, in dictum diam tortor nec justo. Aenean eros arcu,
    elementum eget pharetra vel, imperdiet commodo risus. Aliquam efficitur congue nunc, id luctus ipsum rhoncus nec.
    Duis ipsum nisi, consequat accumsan dui at, interdum efficitur lacus. Donec lobortis ac ligula sit amet pretium.
    Suspendisse eros est, fringilla nec nunc sed, venenatis gravida risus. Mauris rhoncus venenatis tincidunt. In
    consectetur laoreet tincidunt. Ut eu commodo felis. Vestibulum nec libero pellentesque, bibendum dui id, tincidunt
    nibh. Vestibulum nec tristique nisi, ac rutrum sem. In tristique sapien a dolor hendrerit, nec pulvinar ex
    ultricies. Etiam vitae quam porttitor, sodales lacus quis, fermentum nisi. Morbi eget accumsan massa.
  </p>
</div>
